<h1>Cidades</h1>

<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>Cidade</th>
      <th>Estado</th>
      <th class="text-center">
        <a [routerLink]="['/cidades/novo']" title="Novo" alt="Novo" class="btn btn-xs btn-success">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Novo
        </a>
      </th>
    </tr>
    <tr *ngFor="let cidade of cidades">
      <td>{{cidade.nome}}</td>
      <td>{{cidade.estado}}</td>
      <td class="text-center">
        <button class="btn btn-xs btn-info" (click)="abrirModalCidade(cidade)">
          <i class="fa fa-eye" aria-hidden="true"></i> Ver
        </button>
        <a [routerLink]="['/cidades/editar', cidade.id]" title="Editar" alt="Editar" class="btn btn-xs btn-info">
          <i class="fa fa-edit"></i> Editar
        </a>
        <a (click)="remover($event, cidade)" title="Remover" alt="Remover" class="btn btn-xs btn-danger">
          <i class="fa fa-times"></i> Remover
        </a>
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="cidades.length === 0">Nenhuma cidade cadastrada</p>
